@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap');
*{
margin:0;
}
body {
 background: #000000;
 background: -moz-radial-gradient(center, #000000 0%, #252525 100%);
 background: -webkit-radial-gradient(center, #000000 0%, #252525 100%);
 background: radial-gradient(ellipse at center, #000000 0%, #252525 100%);;
 font-family: "Aref Ruqaa",  Impact;
}

.area {
  text-align: center;
  font-size: 6em;
  color: #fff;
  font-weight: 700;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
  margin: auto;
  margin-top: 50vh;
  transform: translateY(-50%);
  font-size: rem;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}
